[submodule "dune-common"]
	path = dune-common
	url = https://github.com/dune-project/dune-common.git
[submodule "dune-functions"]
	path = dune-functions
	url = https://github.com/dune-project/dune-functions.git
[submodule "dune-geometry"]
	path = dune-geometry
	url = https://github.com/dune-project/dune-geometry.git
[submodule "dune-grid"]
	path = dune-grid
	url = https://github.com/dune-project/dune-grid.git
[submodule "dune-istl"]
	path = dune-istl
	url = https://github.com/dune-project/dune-istl.git
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = https://github.com/dune-project/dune-localfunctions.git
[submodule "dune-multidomaingrid"]
	path = dune-multidomaingrid
	url = https://github.com/LuAbelt/dune-multidomaingrid.git
[submodule "dune-pdelab"]
	path = dune-pdelab
	url = https://github.com/dune-project/dune-pdelab.git
[submodule "dune-typetree"]
	path = dune-typetree
	url = https://github.com/dune-project/dune-typetree.git
[submodule "dune-uggrid"]
	path = dune-uggrid
	url = https://github.com/dune-project/dune-uggrid.git
[submodule "dune-alugrid"]
	path = dune-alugrid
	url = https://git.luabelt.de/LuAbelt/dune-alugrid.git
